<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .service.Title }}</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
    <div class = "container">
        <!-- Кнопка домой -->
        <a href="/" class="home-btn">
            <img src="http://localhost:9000/blood-loss-images/home-icon.png" alt="Домой">
        </a>

        <!-- Горизонтальная линия -->
        <div class="horizontal-line"></div>

        <!-- Изображение услуги -->
        <div class="service-image-large">
            <img src="http://localhost:9000/blood-loss-images/{{ .service.ImageURL }}" alt="{{ .service.Title }}">
        </div>
        
        <!-- Информация об услуге -->
        <div class="service-info">
            <h2>{{ .service.Title }}</h2>
        </div>

        <!-- Характеристики -->
        <div class="service-stats">
            <p class="service-stat">Коэффициент кровопотери: {{ .service.BloodLossCoeff }}</p>
            <p class="service-stat">Средний объем кровопотери: {{ .service.AvgBloodLoss }} мл</p>
        </div>

        <!-- Описание -->
        <div class="service-description">
    <span class="service-description-content">Описание операции: {{ .service.Description }}</span>
        </div>
    </div>
</body>
</html>